:root {
  --main-color: #E84545;
  --secondary-color: #212529;
}

::-moz-selection {
  background: var(--secondary-color);
  color: var(--main-color);
}

::selection {
  background: var(--secondary-color);
  color: var(--main-color);
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 4px;
  border: 1px solid #2c1515;
}

* {
  padding: 0;
  margin: 0;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  -webkit-transition: 0s color;
  transition: 0s color;
  scroll-behavior: smooth;
}

body {
  background: #2B2E4A;
  font-size: 16px;
  color: #c2c5e0;
  font-family: 'Righteous', sans-serif;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.back-text {
  font-size: 138px;
  font-weight: 500;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: rgba(86, 86, 86, 0.891);
  position: absolute;
  bottom: 155px;
  left: 60px;
  z-index: 1;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  color: var(--secondary-color);
}

.banner .image-container:before {
  display: inline-block;
  position: absolute;
  content: '';
  top: 0px;
  right: 0;
  z-index: -1;
  width: 420px;
  height: 300px;
  background: radial-gradient(circle at center, #2b2e01 2%, transparent 14%), transparent;
  background-size: 26px 26px;
  background-position: 100%;
  background-repeat: repeat;
  border: none;
  -webkit-transform: translate(2.2vw, 35%);
          transform: translate(2.2vw, 35%);
}

.skewed {
  background: var(--main-color);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  -webkit-transform: skewY(9deg);
          transform: skewY(9deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skewed .layer {
  width: 100%;
  text-align: center;
  -webkit-transform: skewY(-9deg);
          transform: skewY(-9deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-slogan {
  font-size: 80px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.image-container {
  position: relative;
  padding: 18px;
  margin: 10px 0px;
}

.image-container img {
  width: 100%;
  height: unset;
}

.description {
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.description .row .column {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.description strong {
  font-size: 20px;
}

.description small {
  font-size: 16px;
}

.description strong,
.description small,
.details strong,
.details small {
  display: block;
  margin: 3px 0px;
}

section {
  margin: auto !important;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product:nth-of-type(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
/*# sourceMappingURL=style.css.map */