$widths: (sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px);

:root {
    --main-color: #E84545;
    --secondary-color: #212529;
}

@mixin centerAll {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin centerX {
    display: flex;
    justify-content: center;
}

@mixin centerY {
    display: flex;
    align-items: center;
}

::selection {
    background: var(--secondary-color);
    color: var(--main-color);
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius: 4px;
    border: 1px solid rgb(44, 21, 21)
}

* {
    padding: 0;
    margin: 0;
    transition: .2s all linear;
    transition: 0s color;
    scroll-behavior: smooth;
}

body {
    background: #2B2E4A;
    font-size: 16px;
    color: #c2c5e0;
    font-family: 'Righteous', sans-serif;
}

section {
    @include centerY();
    justify-content: space-between;
}

.back-text {
    font-size: 138px;
    font-weight: 500;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: rgba(86, 86, 86, 0.891);
    position: absolute;
    bottom: 155px;
    left: 60px;
    z-index: 1;
}

.row {
    display: flex;
}

.banner {
    width: 100%;
    height: 100vh;
    position: relative;
    color: var(--secondary-color);

    .image-container:before {
        display: inline-block;
        position: absolute;
        content: '';
        top: 0px;
        right: 0;
        z-index: -1;
        width: 420px;
        height: 300px;
        background: radial-gradient(circle at center, rgb(43, 46, 74 / 77%) 2%, transparent 14%), transparent;
        background-size: 26px 26px;
        background-position: 100%;
        background-repeat: repeat;
        border: none;
        transform: translate(2.2vw, 35%);
    }
}

.skewed {
    background: var(--main-color);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transform: skewY(9deg);
    transform-origin: top right;
    @include centerAll();

    .layer {
        width: 100%;
        text-align: center;
        transform: skewY(-9deg);

        @include centerAll();
    }

}

.text-slogan {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.image-container {
    position: relative;
    padding: 18px;
    margin: 10px 0px;

    img {
        width: 100%;
        height: unset;
    }
}

.description {
    text-align: start;
    @include centerY();
    flex-direction: column;

    .row {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        text-align: left;
        width: fit-content;

        .column {
            width: fit-content;
        }
    }

    strong {
        font-size: 20px;
    }

    small {
        font-size: 16px;
    }
}

.description,
.details {

    strong,
    small {
        display: block;
        margin: 3px 0px;
    }
}

section {
    margin: auto !important;
}

.product {
    @include centerY();
    justify-content: space-between;
    flex-wrap: wrap;

    &:nth-of-type(even) {
        flex-direction: row-reverse;
    }
}